* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  text-decoration: none;
}

:root {
  font-size: 62.5%;

  --color-02: #BDACB8;
  --color-04: #666E7E;
  --color-05: #6E4C3B;
  --color-06: #849A6B;

  --blue-100: #B1B9D8;
  --blue-300: #7F89B0;
  --blue-700: #242B42;
  --blue-800: #1D2537;
  --blue-900: #1A2036;

  --shadow-black: #00000080;
}


/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--blue-100) var(--blue-700);
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: var(--blue-700);
  border: 4px solid var(--blue-700);
  border-radius: 50px;
}

*::-webkit-scrollbar-track:hover {
  background-color: var(--blue-800);
}

*::-webkit-scrollbar-track:active {
  background-color: var(--blue-100);
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--blue-900);
  border: 3px solid var(--blue-700);
  border-radius: 50px;

}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue-100);
}

*::-webkit-scrollbar-thumb:active {
  background-color: var(--blue-100);
}

::-webkit-scrollbar-corner {
  background: transparent;
}



body {
  font-size: 1.6rem;
  color: var(--blue-100);
  background-color: var(--blue-900);
  height: 100vh;

  display: grid;
  place-items: center;
}

body, a, button {
  color: var(--blue-100);
}

button {
  cursor: pointer;
  transition: filter 500ms;
}

button:hover {
  filter: brightness(1.1);
}

#app {
  background-color: var(--blue-700);
  border-radius: 2.5rem;
  width: 97rem;
  height: 66rem;
  padding: 3.5rem;

  display: flex;
  margin: 2rem;

}

#menu {
  padding: 1.5rem;
  border-radius: 2rem;
  background-color: var(--blue-900);

  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 1.5rem;

  box-shadow: 0px 10px 25px -15px;
  color: var(--shadow-black);
}

.menu-button {
  width: 5.8rem;
  height: 5.8rem;
  border-radius: 10px;
  background-color: var(--blue-900);
  border: none;
  transition: background 500ms;
}

.menu-button:hover {
  background-color: var(--blue-700);
}

.menu-button img{
  transition: transform 400ms;
}

.menu-button:hover img{
  transform: scale(1.1);
}


.active {
  background-color: var(--blue-700);
}

main{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 20px 18px;
}

.go-back {
  display: flex;

  font-family: 'Merriweather', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 33px;
}

#switcher {
  width: 102px;
  height: 52px;
  gap: 2px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--blue-900);
  border-radius: 12px;
  border: none;
}

#switcher > button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 48px;
  height: 48px;
  border: none;

  background-color: var(--blue-900);
  transition: background 500ms;

}

#switcher > button.active {
  background-color: var(--blue-700);
}

.right {
  border-radius: 0 10px 10px 0;
}

.left {
  border-radius: 10px 0 0 10px;
}

#content {

  width: 100%;
  height: 100%;
  padding: 20px;

  overflow-y: auto;
  overflow-x: hidden;

}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}

.row {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    gap: 20px;
}

.grid > .card {
  width: 173px;
  height: 208px;
  border-radius: 10px;

  background-color: var(--blue-900);
  box-shadow: 0px 10px 25px -15px;
  color: var(--shadow-black);

  display: flex;
  align-items: center;
  justify-content: center;
}

.row > .card {
  width: 100%;
  height: 70px;
  border-radius: 10px;

  background-color: var(--blue-900);
  box-shadow: 0px 10px 25px -15px;
  color: var(--shadow-black);

  display: flex;
  align-items: center;
  justify-content: center;
}

.card-content {
  color: var(--blue-300);
}
